<header class="intro-header">

    <!--Navbar-->
    <mdb-navbar me class="navbar  ki navbar-expand-lg navbar-inverse navbar-dark fixed-top scrolling-navbar top-nav-collapse mb-3">
        <mdb-navbar-brand>
            <a class="logo navbar-brand waves-light text-warning" mdbWavesEffect href="#"> <i class="fa fa-leaf fa-2x mt-4 ml-2 text-warning"></i><strong> ChatBooking</strong></a>
        </mdb-navbar-brand>

    </mdb-navbar>

    <!--Intro Section-->
    <section class="view intro-2 rgba-gradient ">
        <div class="full-bg-img mask">
            <div class="container flex-center">
                <div class="row flex-center pt-5 mt-3 w-100">
                    <div class="col-md-12 text-center text-center margins">
                        <div class="white-text">
                            <h2 class="h1 h1-responsive wow fadeInLeft text-warning" data-wow-delay="0.3s">Make bookings with Whatsapp Chatbot 😜</h2>
                            <hr class="hr-light wow fadeInLeft " data-wow-delay="0.3s">
                            <h6 class="wow fadeInLeft text-center ml-5 mr-5" data-wow-delay="0.3s">We built a complex algorithm that allows our team integrate WhatsApp booking chatbot in yor existing system </h6>
                            <br>

                            <a mdbBtn mdbModal #basicModal="mdbModal" (click)="basicModal.show()" color="white" outline="true" class="wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Start</a>
                            <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                                        <span aria-hidden="true">×</span>
                                      </button>
                                            <h4 class="modal-title w-100 text-warning" id="myModalLabel">Instruction</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-lg-7">

                                                <!--Grid row-->
                                                <div class="row pb-3">
                                                    <div class="col-2 col-md-1">
                                                        <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                                                    </div>
                                                    <div class="col-10">
                                                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 1</h5>
                                                        <p class="grey-text text-left">click <b class="green-text"><a href=" https://api.whatsapp.com/send?phone=14155238886">+14155238886</a></b> to your WhatsApp contact.Please make sure you refresh your Whatsapp contact</p>
                                                    </div>
                                                </div>
                                                <!--Grid row-->

                                                <!--Grid row-->
                                                <div class="row pb-3">
                                                    <div class="col-2 col-md-1">
                                                        <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                                                    </div>
                                                    <div class="col-10">
                                                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 2</h5>
                                                        <p class="grey-text text-left">Type <b class="green-text">join wisteria-whale</b> to register </p>
                                                    </div>
                                                </div>
                                                <!--Grid row-->

                                                <!--Grid row-->
                                                <div class="row pb-3">
                                                    <div class="col-2 col-md-1">
                                                        <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                                                    </div>
                                                    <div class="col-10">
                                                        <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 3 </h5>
                                                        <p class="grey-text text-left">To book a plane simply type <b class="green-text">i want to book a plane</b></p>
                                                    </div>
                                                </div>
                                                <!--Grid row-->

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" mdbBtn color="warning" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>

</header>

<section class="team-section text-center my-5 container">


    <h2 class="h1-responsive font-weight-bold my-5  text-warning">What we offer</h2>

    <p class="grey-text w-responsive mx-auto mb-5">Now you can make order by simply chatting</p>


    <div class="row">

        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <h1 class="h1-responsive font-weight-bold my-5  text-warning" style="font-size: 55px"> ✈️</h1>
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Airline Booking</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <h1 class="h1-responsive font-weight-bold my-5  text-warning" style="font-size: 55px"> 🥞️</h1>
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Food Order</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <h1 class="h1-responsive font-weight-bold my-5  text-warning" style="font-size: 55px">🚌</h1>
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Bus Booking</h5>

        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <h1 class="h1-responsive font-weight-bold my-5  text-warning" style="font-size: 55px"> 🤓</h1>
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Others</h5>

        </div>


    </div>


</section>
<!--Section: Features v.3-->
<section class="container mb-3">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center text-warning">Test Bot</h2>

    <p class="px-5 mb-5 pb-3 lead grey-text text-center"> Check out our demo sample for booking a plane.</p>
    <div class="row pt-2">

        <!--Grid column-->
        <div class="col-lg-5 text-center text-lg-left">
            <img style="height: auto;" src="../../../assets/580b57fcd9996e24bc43c543.png" alt="" class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 1</h5>
                    <p class="grey-text text-left">click <b class="green-text"><a href=" https://api.whatsapp.com/send?phone=14155238886">+14155238886</a></b> to your WhatsApp contact</p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 2</h5>
                    <p class="grey-text text-left">Type <b class="green-text">join wisteria-whale</b> to register </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    <i class="fa fa-mail-forward fa-lg yellow-text"></i>
                </div>
                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">STEP 3 </h5>
                    <p class="grey-text text-left">To book a plane simply type <b class="green-text">i want to book a plane</b></p>
                </div>
            </div>
            <!--Grid row-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Contact v.2-->
<section class="container">

    <!--Section heading-->
    <h2 class="text-center h1 py-5">Contact us</h2>
    <!--Section description-->
    <p class="text-center mb-5">Please contact us using the details below.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-8 col-xl-9">
            <form>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input disabled type="text" id="contact-name" class="form-control">
                            <label for="contact-name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form">
                            <input disabled type="text" id="contact-email" class="form-control">
                            <label for="contact-email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <input disabled type="text" id="contact-Subject" class="form-control">
                            <label for="contact-Subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3"></textarea>
                            <label for="contact-message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a mdbBtn disabled color="warning" size="md">Send</a>
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 col-xl-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fa fa-map-marker fa-2x text-warning"></i>
                    <p>Lagos,Nigeria</p>
                </li>

                <li>
                    <i class="fa fa-phone fa-2x mt-4 text-warning"></i>
                    <p>08143064024</p>
                </li>

                <li>
                    <i class="fa fa-envelope fa-2x mt-4 text-warning"></i>
                    <p>swidatech@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
<footer class="page-footer font-small grey pt-4">


    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/angular/"> Swidatech</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->